*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
head link{
    border-radius: 50%;
    border: 25px solid #080808;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #080808; 
}
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: #080808;
}
html::-webkit-scrollbar-thumb {
    background: #ff004f;
}
html::-webkit-scrollbar-thumb:hover::before {
    background: #db1b58;
}
html::-webkit-scrollbar-thumb::after {
    background: #ff004f;
}
  
.round {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	animation: animate 7s linear infinite;
	display: grid;
	place-content: center;
	color: #ff004f;
	box-shadow: 0 0 100px #ff004f, 0 0 20px #ff004f, 0 0 30px #ff004f;
	font-family: impact;
	font-size: 30px;
	border: 15px outset #ff004f;
}
.round a {
	text-decoration: none;
	color: #db1b58;
	font-family: Impact;
	font-size: 30px;

}
@keyframes animate {
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}
 /*-------------------------------------------------------
 .container{
	padding: 10px 10%;
 }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
*/